* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#morning {
    border: 5px solid rgb(250, 195, 92);
    background-color: rgb(238, 185, 87);
    border-radius: 10px;
    margin: 20px;
    max-width: 500px;
    padding: 15px;
}

#afternoon {
    border: 5px solid rgb(243, 120, 75);
    background-color: rgb(248, 117, 70);
    border-radius: 10px;
    margin: 20px;
    max-width: 500px;
    padding: 15px;
}

#Evening {
    border: 5px solid palevioletred;
    background-color: palevioletred;
    border-radius: 10px;
    margin: 20px;
    max-width: 500px;
    padding: 15px;
}

#morning .completed {
    text-decoration: line-through;
    list-style-type: "\1F5F9  ";
}

#afternoon .important {
    font-weight: bold;
    color: red;
    list-style-type: "\2610  ";
}

#Evening .completed.important {
    border: 2px solid green;
    color: black;
    margin: 5px 0px 0px 0px;
    list-style-type: "\1F5F9  ";
    box-shadow: inset 0px 0px 8px green;
}

#Evening .button {
    display: inline-block;
    border: 5px solid rgb(18, 85, 85);
    border-radius: 10px;
    background: lightcoral;
    color: rgb(9, 53, 53);
}

#afternoon li {
    background-color: rgb(236, 236, 154);
    padding: 5px;
    list-style-type: "\2610  ";
    margin: 6px;
    border-radius: 5px;
}