* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.singal-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.images {
    width: 600px
}