* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#first-paragraph {
    color: #ff0000;
}

#second-paragraph {
    background-color: red;
    color: yellow;
}

#span-1 {
    color: blue;
    background: yellow; 
}

#span-2 {
    color: purple;
}

