* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}

#sidebar .chapter {
    font-weight: bold;
    font-size: 24px;
}

#sidebar .chapter.edit {
    color: red;
}

#sidebar .edit {
    color: orange;
    font-style: italic;
}

#sidebar h4 {
    box-shadow: 0px 2px;
}

#sidebar li {
    margin: 5px;
}