* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#trial-1 {
    color: green;
}

#second {
    color:#F711F7;
}

#second-2 {
    color:#F711F7;
}

#third {
    color: red;
}

#third-2 {
    color: goldenrod;
}

#third-3 {
    color: blue;
}

#forth {
    background-color: skyblue;
}

#five {
    background-color: yellow;
}

#six {
    font-weight: bold;
}

#six-2 {
    font-weight: bold;
}

#seven {
    font-style: italic;
}

#seven-2 {
    font-weight: bold;
}
#seven-3 {
    font-style: italic;
}

#eight {
    text-decoration: underline;
}

#eight-2 {
    text-decoration: underline;
}

#nine {
    font-size: 36px;
}

#ten {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

#ten-2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

#ten-3 {
    text-align: center;
    font-size: 24px;
    font-style: italic;
}





