* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* decendant selctor */
#navbar {
    text-align: center;
    padding: 24px;
    background-color: blue;
}

#navbar a {
    color: white;
}

p a {
    color: teal; 
}

/* compound selector */
p.warning {
    background-color: crimson;
}

p.warning a {
    color: orange;
}