@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to left, rgb(231, 231, 0), 
        orange
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    font-family: "Macondo", cursive;
    font-size: 18px;
}

#navbar #logo-container {
    margin-right: auto;
    font-weight: bold;
    font-size: 30px;
}

#navbar .cta-button {
    background-color: orange;
    color: yellow;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 18px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}

.single-column {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center
}

.single-column-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}