* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#span-1 {
    font-weight: bold;
    text-decoration: underline;
}

#span-2 {
    font-style: italic;
    font-weight: bold;
}

#big-paragraph {
    font-size: 16px;
    /* line-height: 24px;
    letter-spacing: 3px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#big-letter {
    font-size: 60px;
    line-height: 50px
}

#ff-1 {
    font-family: serif;
    text-align: left;
}

#ff-2 {
    font-family: sans-serif;
    text-align: center
}

#ff-3 {
    font-family: monospace;
    text-align: end;
}

#ff-4 {
    font-family: cursive;
}

#ff-5 {
    font-family: fantasy;
}

#no-underline {
    text-decoration: none;
    color: blueviolet
}

#image-align {
    width: 100px;
}

#alignment-test {
    text-align: center;
}