* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    margin: 55px;
}

#images {
    width: 350px;
    height: 200px;
    border: 10px solid grey;
    padding: 15px;
    background-color: coral;
}

#images-1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 15px solid coral;
    padding: 15px;
    background-color: rgb(203, 218, 218);
}

#this {
    border: 15px solid red;
    text-align: center;
    padding: 15px;
    background-color: yellow;
    display: inline-block;
    width: 300px;
}

#images-2 {
    width: 250px;
    height: 250px;
    border-radius: 75%;
    border: 15px solid coral;
    padding: 15px;
    background-color: rgb(203, 218, 218);
}

#images-3 {
    width: 350px;
    height: 200px;
    border: 10px solid grey;
    padding: 15px;
    background-color: rgb(100, 255, 80);
}