* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgba(255, 166, 0, 0.767);
}

.color-palette {
    box-shadow: 6px 6px 12px #989898;
    margin: 24px;
    padding: 24px;
    text-align: center;
    background: white;
}

#color-1 {
    background: #D6C9C9;
}

#color-2 {
    background: #77B6EA;
}

#color-3 {
    background: #37393A;
    color: white;
}

.color {
    margin: 0px;
    padding: 24px;
}

#color-4 {
    background: #EDBFC6;
}

#color-5 {
    background: #AF8D86;
}

#color-6 {
    background: #260C1A;
    color: white;
}

#color-7 {
    background: #F2DDA4;
}

#color-8 {
    background: #E7EFC5;
}

#color-9 {
    background: #BFD7B5;
}

